* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
nav .bar{
    display: none;
}
#wwb {
    display: flex;
    gap: 10px;
    margin-left: -500px;
}

.wwb li:nth-child(2) select {
    border: none;
}

.wwb li:nth-child(2) select option {
    background: #EAEAEA;
    border: none;
}

.wwc {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav ul:nth-child(2) {
    display: flex;
}

.iphone13 {
    display: flex;
    justify-content: space-evenly;
    background: #101010;
    box-shadow: 0px 0px 20px 0px #0000001A;
    align-items: center;
    width: 1200px;
    height: 197px;
    border-radius: 30px;
    text-align: center;
    margin-left: 150px;
}

.iphone13 h1 {
    width: 343px;
    height: 74px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.iphone13 img {
    width: 271px;
    height: 231px;
}

.three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 50px;
}

.three .cart {
    width: 350px;
    height: auto;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px #0000001A;
    text-align: center;
}

.scss {
    margin-top: 30px;
    margin-bottom: -20px;
    margin-left: 90px;
    font-family: sans-serif;
    font-size: 18px;
    color: #838383;
    font-weight: 600;
}

.cart img {
    margin-top: 20px;
}

.cart h2 {
    margin-bottom: 30px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 21px;
    margin-top: 10px;
}

/*new*/
.wire {
    width: 114px;
    height: 24px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #838383;
    margin-bottom: -20px;
    margin-top: 30px;
    margin-left: 80px;
}

.cart6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 60px;
    gap: 30px;
}

.carts {
    background: #FFFFFF;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.apl {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.apl h2 {
    width: 144px;
    height: 21px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #1C1C27;
    margin-left: 40px;
}

.apl h3 {
    width: 58px;
    height: 21px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #FFA542;
    margin-left: 80px;
}

.carts .apples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.carts .apples h2 {
    width: 144px;
    height: 21px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #1C1C27;
    margin-left: 40px;
}

.carts .apples h3 {
    width: 58px;
    height: 21px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #FFA542;
    margin-left: 50px;
}

.wireless {
    width: 284px;
    height: 24px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #838383;
    margin-bottom: -20px;
    margin-top: 40px;
    margin-left: 80px;
}

.foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    width: 1110px;
    height: 149px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px #0000001A;
    margin-left: 200px;
    padding-top: 30px;
    padding-left: 80px;
}

.afooter,
.afooter a {
    display: grid;
    grid-template-columns: 1fr;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    width: 101px;
    height: 30px;
    color: #000000;
    align-items: center;
}

.lang {
    margin-top: 5px;
}

.lang a {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
}

.lin {
    margin-top: 20px;
    align-items: center;
    display: flex;
    gap: 10px;
}

.socials img {
    height: 25px;
}

@media only screen and (max-width:400px) {
    nav {
        display: flex;
    }
nav .bar{
    display: block;
}
    .bar svg {
        display: block;
        height: 60px;
        width: 30px;
        margin-right: 20px;
    }

    .navs {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 400px;
    }

    .wwa {
        display: flex;
        gap: 8px;
        margin-left: -200px;
    }

    .wwb {
        display: none;
        gap: 0px;
        margin-left: 0px;
    }

    .wwc {
        display: none;
        gap: 0px;
    }

    .nav ul:nth-child(2) {
        display: none;
    }

    .three {
        display: grid;
        grid-template-columns: 1fr;
    }

    .cart {
        width: 300px;
        margin-top: 15px;
    }

    .iphone13 {
        width: 400px;
        height: 150px;
        border-radius: 20px;
        margin-left: 0px;
        border-radius: 5px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .iphone13 h1 {
        width: 260px;
        height: 74px;
        font-weight: 500;
        font-size: 20px;
    }

    .iphone13 img {
        width: 170px;
        height: 180px;
    }

    /*new*/
    .wire {
        width: 114px;
        height: 24px;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #838383;
        margin-bottom: -20px;
        margin-top: 40px;
        margin-left: 60px;
    }

    .cart6 {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        margin-top: 60px;
        gap: 30px;
    }

    .apl {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .foot {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 40px;
        width: 400px;
        height: 149px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: #FFFFFF;
        padding-top: 30px;
        margin-left: 0px;
        padding-left: 10px;
        margin-left: 1px;
    }

    .afooter a {
        font-weight: 400;
        font-size: 14px;
    }

    .afooter {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: -90px;
        margin-top: 30px;
        width: 101px;
        height: 30px;
        color: #000000;
        align-items: center;
    }

    .lang {
        margin-left: -60px;
        margin-top: 35px;
    }

    .lang a {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
    }

    .lin {
        margin-top: 20px;
        align-items: center;
        display: flex;
        gap: 10px;
    }

    .socials {
        margin-top: 35px;
    }

    .socials img {
        height: 15px;
    }
}